# The directory Mix will write compiled artifacts to.
/_build/
/examples/example_app/_build/

# Dependency artifacts.
/deps/
/examples/example_app/deps/

# Generated documentation.
/doc/

# Mix archives and local package state.
/.fetch

# Temporary files.
/tmp/

# Crash dumps.
erl_crash.dump

# Local environment.
.env
.env.*
